.App {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.text-editor {
  width: 100vw;
  height: 90vh;
  display: flex;
}

.text-editor .text-area {
  width: 50vw;
  height: 90vh;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

.select {
  margin-bottom: 10px;
}

.template-form {
  display: flex;
  flex-direction: column;
  width: 45vw;
  padding: 10px;
}

.form-select {
  width: 200px;
  height: 100px;
}

.box {
  display: flex;
  flex-direction: column;
}
