.App {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.text-editor {
  width: 100vw;
  height: 90vh;
  display: flex;
}

.text-editor .text-area {
  width: 50vw;
  height: 90vh;
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.template-form {
  display: flex;
  flex-direction: column;
  width: 45vw;
}

.form-select {
  width: 200px;
  height: 100px;
}

.box {
  display: flex;
  flex-direction: column;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
}

.new-template {
  display: flex;
  flex-direction: column;
  width: 20vw;
  align-self: center;
}

.editor-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
}
